@page
@model RubyMine.Pages.Management.CustomFieldModel

@{
    Layout = "~/Pages/Shared/_ManagementLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row bg-title">
        <div class="col">
            <div class="row border-1 border-ccc bg-title pt-1 pb-1 ps-1 fw-bold">
                自定义字段
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col p-0">
            <table class="table border-1 border-ccc table-hover border-top-0">
                <thead>
                    <tr>
                        <th class="p-0 ps-1 pt-1 pb-1">
                            @Html.DisplayNameFor(model => model.CustomField[0].Id)
                        </th>
                        <th class="p-0 ps-1 pt-1 pb-1">
                            @Html.DisplayNameFor(model => model.CustomField[0].Name)
                        </th>
                        <th class="p-0 ps-1 pt-1 pb-1">
                            @Html.DisplayNameFor(model => model.CustomField[0].FieldFormat)
                        </th>
                        <th class="p-0 ps-1 pt-1 pb-1">
                            @Html.DisplayNameFor(model => model.CustomField[0].IsRequired)
                        </th>
                        <th class="p-0 ps-1 pt-1 pb-1">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CustomField) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FieldFormat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsRequired)
                            </td>
                            <td>
                                @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>&nbsp;
        <div class="col p-0">
            <table class="table border-1 border-ccc table-hover border-top-0">
                <thead>
                    <tr>
                        <th class="p-0 ps-1 pt-1 pb-1">
                            @Html.DisplayNameFor(model => model.CustomFieldsMapping[0].Id)
                        </th>
                        <th class="p-0 ps-1 pt-1 pb-1">
                            @Html.DisplayNameFor(model => model.CustomFieldsMapping[0].CustomKey)
                        </th>
                        <th class="p-0 ps-1 pt-1 pb-1">
                            @Html.DisplayNameFor(model => model.CustomFieldsMapping[0].CustomName)
                        </th>
                        <th class="p-0 ps-1 pt-1 pb-1">
                            @Html.DisplayNameFor(model => model.CustomFieldsMapping[0].CustomFieldId)
                        </th>
                        <th class="p-0 ps-1 pt-1 pb-1">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CustomFieldsMapping) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomKey)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomFieldId)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
