@page
@model RubyMine.Pages.Platform.IndexModel
@using RubyMine.Models
@using RubyMine.Customs.Models;
@{
    Layout = "~/Pages/Shared/_NavicatLayout.cshtml";

    ViewData["showFooter"] = "footer";
    User cua = SessionUtils.Get<User>(HttpContext.Session, "cua");
    if (cua == null) {
        Response.Redirect("/");
        return;
    }
    bool showEdit = Model.Chanpins.Contains(cua.Id);
}
<style>
    ul, #module_tree {
        list-style-type: none;
    }

    #module_tree {
        margin: 0;
        padding: 0;
    }

    .caret {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }

        .caret::before {
            content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
            color: black;
            display: inline-block;
            margin-right: 6px;
            transition: transform 0.13s ease;
            transform-origin: .5em 50%;
        }

    .caret-down::before {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        transform: rotate(90deg);
    }

    .nested {
        display: none;
    }

    ul, li {
        margin-left: 0;
        padding-left: 0;
        /*line-height: 160%;*/
        border: 1px solid #fff;
    }

    li {
        margin: 0px !important;
        padding-left: 3px;
        padding-right: 5px;
    }

    ul {
        margin-left: 16px;
        padding-left: 0;
    }

    .activeTreeNode {
        display: block;
    }

    ul li:hover {
        background-color: #cde8ff;
        color: #0026ff;
    }

    ul li:focus {
        background-color: #cde8ff;
        color: #0026ff;
    }

    .footer {
        bottom: auto !important;
    }

    .op-link {
        color: #adb5c9 !important;
    }

    .jumpNav li.active, tr.active {
        /*border-radius: 0.3rem;*/
        border: 1px solid #90c9e3;
    }

    li.active {
        background-color: #cde8ff;
    }

    tr.active {
        background-color: #cde8ff;
        border: 1px inset #cde8ff;
    }

    th, td {
        padding: 0px !important;
    }

        th[htmlValue="issue"] {
            padding: 3px !important;
        }

        td[htmlValue="issue"] {
            border: solid 1px #d7d7d7;
            padding: 2px !important;
        }
</style>

@functions{
    string BuildTree(int? parent_id, bool showEdit) {
        string htmlTree = "";
        if (parent_id == null) {
            htmlTree = "<ul id=\"module_tree\" class=\"jumpNav activeTreeNode\">";
        } else {
            htmlTree = "<ul id=\"ul_" + parent_id + "\" htmlId=\"" + parent_id + "\" class=\"jumpNav nested ";
            if (SessionUtils.Get<ActiveNodes>(HttpContext.Session, "ActiveNodes").Contains(parent_id.Value) || parent_id == 1) {
                htmlTree += " activeTreeNode";
            }
            htmlTree += "\">";
        }

        var itemCount = Model.Modules.Count(t => t.PId == parent_id);
        if (itemCount > 0) {
            foreach (Module item in Model.Modules.Where(t => t.PId == parent_id).OrderBy(t => t.Index)) {
                int subNode = Model.Modules.Count(t => t.PId == item.Id);
                var activeNode = "";

                if (Model.Module_id == item.Id) {
                    activeNode = " active";
                }

                string tempTitle = item.Name;
                if (tempTitle.Length > 6) {
                    tempTitle = tempTitle.Substring(0, 6) + "...";
                }

                if (subNode > 0) {
                    htmlTree += "<li id=\"html_node_" + item.Id + "\" class=\"li-node " + activeNode + "\" attr-id=\"" + item.Id + "\" attr-pid=\"" + item.PId + "\" attr-title=\"" + tempTitle + "\"><span class=\"caret fs-7\" htmlId=\"" + item.Id + "\">";
                    if (item.Id > 1) {
                        htmlTree += "<a class=\"dbclick text-decoration-none text-269 d-inline-block w-75\" href=\"?action=load&module_id=" + item.Id + "\" style=\"cursor:default;\"><img class=\"w-auto\" src=\"/images/xp/briefcase.png\">&nbsp;" + item.Name + "</a>";
                    } else {
                        htmlTree += "<img class=\"w-auto\" src=\"/images/xp/briefcase.png\">&nbsp;<span class=\"fw-bold d-inline-block w-75\">" + item.Name + "</span>";
                    }

                    htmlTree += "</li>";
                    string tempTree = BuildTree(item.Id, showEdit);
                    if (string.IsNullOrEmpty(tempTree) == false) {
                        htmlTree += tempTree;
                    }
                } else {
                    htmlTree += "<li id=\"html_node_" + item.Id + "\" class=\"li-node " + activeNode + "\" attr-id=\"" + item.Id + "\" attr-pid=\"" + item.PId + "\" attr-title=\"" + tempTitle + "\"><a class=\"dbclick text-decoration-none text-dark d-inline-block w-75 ps-3\" href=\"?action=load&module_id=" + item.Id + "\" style=\"cursor:default;\"><span class=\"fs-7\"><img src=\"/images/xp/page_white_text.png\">&nbsp;" + item.Name + "</span></a></li>";
                }
            }
        }
        htmlTree += "</ul>";
        return htmlTree;
    }
}
<div class="container-fluid mb-0">
    <div class="row">
        <div class="col-2 p-0 mr-1 pb-2 border-inset bg-white mh-100">
            <div class="row m-1 p-1 pt-0 ps-0">
                @Html.Raw(BuildTree(null, showEdit))
            </div>
        </div>
        <div class="col-6 p-1 border-inset bg-white">
            <table id="mainTable" class="table table-hover fs-7 jumpNav border-top-0">
                <thead>
                    <tr style="background:#eee;">
                        <th htmlValue="issue" width="40px" class="border-bottom-0 text-center">
                            #
                        </th>
                        <th htmlValue="issue" width="49px" class="border-bottom-0 text-center">
                            @Html.DisplayNameFor(model => model.DisplayIssues[0].Issue.TrackerId)
                        </th>
                        <th htmlValue="issue" class="border-bottom-0">
                            @Html.DisplayNameFor(model => model.DisplayIssues[0].Issue.Subject) (@Model.DisplayIssues.Count)
                        </th>
                        <th htmlValue="issue" width="49px" class="border-bottom-0 text-center">
                            @Html.DisplayNameFor(model => model.DisplayIssues[0].Issue.AuthorId)
                        </th>
                        <th htmlValue="issue" width="69px" class="border-bottom-0 text-center">
                            @Html.DisplayNameFor(model => model.DisplayIssues[0].Issue.StatusId)
                        </th>
                        <th htmlValue="issue" width="60px" class="border-bottom-0">
                            @Html.DisplayNameFor(model => model.DisplayIssues[0].Issue.ProjectId)
                        </th>
                        <th htmlValue="issue" width="129px" class="border-bottom-0 text-center">
                            @Html.DisplayNameFor(model => model.DisplayIssues[0].Issue.UpdatedOn)
                        </th>
                        <th width="33px" htmlValue="issue" class="text-center border-bottom-0">
                            新增
                        </th>
                    </tr>
                </thead>
                @if (Model.Module_id > 0) {
                    <tbody>
                        @foreach (var item in Model.DisplayIssues.OrderBy(t => t.Position)) {
                            <tr id="tr_@item.Issue.Id" class="clickable-row">
                                <td htmlValue="issue" class="fs-7 align-top text-center" style="padding-top:1px;">
                                    <a asp-page="./Details" asp-route-id="@item.Issue.Id" target="_blank" class="text-666">@Html.DisplayFor(modelItem => item.Issue.Id)</a>
                                </td>
                                <td htmlValue="issue" class="text-center">
                                    @Html.DisplayFor(modelItem => item.Issue.Tracker.Name)
                                </td>
                                <td id="td_@item.Issue.Id" class="link-td" htmlValue="issue" attr-id="@item.Issue.Id">
                                    <a id="linkLabel_@item.Issue.Id" href="#op" class="link-title text-666 fs-7">
                                        <span id="showLabel_@item.Issue.Id">@Html.DisplayFor(modelItem => item.Issue.Subject)</span>
                                        @if (showEdit) {
                                            <img src="~/images/xp/edit.png" id="linkEdit_@item.Issue.Id" attr-id="@item.Issue.Id" class="link-edit bi bi-pencil float-end" style="cursor:pointer" />
                                        }
                                    </a>
                                    <div id="linkDiv_@item.Issue.Id" class="d-none">
                                        <textarea id="linkSubject_@item.Issue.Id" class="link-subject form-control w-100 fs-9 p-0 rounded-0 border-998888">@Html.DisplayFor(modelItem => item.Issue.Subject)</textarea>
                                        <div class="btn-group pt-1 float-end">
                                            <button id="linkSave_@item.Issue.Id" class="form-control link-save btn-5693af btn-sm ms-0 fs-9 save-subject w-auto mr-1" attr-id="@item.Issue.Id" onclick="save(@item.Issue.Id);">Save</button>
                                            <button id="linkCancel_@item.Issue.Id" class="form-control link-cancel btn-normal btn-sm ms-0 fs-9 save-subject w-auto d-inline" attr-id="@item.Issue.Id">Cancel</button>
                                        </div>
                                    </div>
                                </td>
                                <td htmlValue="issue">
                                    @Html.DisplayFor(modelItem => item.Issue.Author.Firstname)
                                </td>
                                <td htmlValue="issue" class="text-center">
                                    <div class="btn-group m-0 p-0">
                                        <a class="btn btn-sm text-666 m-0 p-0 fs-7 lh-0 issue_subject_@item.Issue.StatusId" data-bs-toggle="dropdown">@Html.DisplayFor(modelItem => item.Issue.Status.Name)</a>
                                        <ul class="dropdown-menu shadow fs-7">
                                            <li><a class="dropdown-item disabled lh-0 text-dark" href="#">更改[@Html.DisplayFor(modelItem => item.Issue.Id)]为:</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">新建</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="#">Copy Text</a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td htmlValue="issue" class="text-center">
                                    @Html.DisplayFor(modelItem => item.Issue.Project.Name)
                                </td>
                                <td htmlValue="issue" class="text-center" title="该 @item.Issue.Tracker.Name 创建于&nbsp;@RMUtils.PraseDateTime(item.Issue.CreatedOn)">
                                    <a href="#UpdateOn" class="text-dark">@Html.Raw(RMUtils.PraseDateTime(item.Issue.UpdatedOn))</a>
                                </td>
                                <td htmlValue="issue" class="align-middle text-center">
                                    @if (showEdit) {
                                        <img class="add-button" attr-id="@item.Issue.Id" src="/images/xp/file_add.png" style="cursor:pointer" />
                                        <span class="d-none">-</span>
                                    } else {
                                        <span>-</span>
                                    }
                                </td>
                            </tr>
                        }
                        @if (showEdit && Model.DisplayIssues.Count <= 0) {
                            <tr id="tr_9999" class="clickable-row">
                                <td htmlValue="issue" class="fs-7 align-top text-center" style="padding-top:1px;">-</td>
                                <td htmlValue="issue" class="text-center">-</td>
                                <td colspan="3" id="td_9999" class="link-td" htmlValue="issue" attr-id="9999">
                                    <div id="linkDiv_9999" class="d-block">
                                        <textarea id="subject_9999" class="link-subject form-control w-100 fs-9 p-0 rounded-0 border-998888"></textarea>
                                        <div class="btn-group pt-1 float-end">
                                            <button id="linkSave_9999" class="form-control link-save btn-5693af btn-sm ms-0 fs-9 save-subject w-auto mr-1" attr-id="9999" onclick="new_issue();">Create</button>
                                        </div>
                                    </div>
                                </td>
                                <td htmlValue="issue" class="text-center">-</td>
                                <td htmlValue="issue" class="text-center">-</td>
                                <td htmlValue="issue" class="align-middle text-center">-</td>
                            </tr>
                        }
                        <tr>
                            <td htmlValue="issue" class="lh-lg" colspan="9"><img src="/images/xp/doc_convert.png" />&nbsp;<label id="showRecordCount">@Model.DisplayIssues.Count</label> rows.</td>
                        </tr>
                    </tbody>
                } else {
                    <tr class="clickable-row">
                        <td colspan="8" htmlValue="issue">请选择模块</td>
                    </tr>
                }
            </table>
        </div>&nbsp;
        <div class="col p-1 border-inset bg-white mr-1">
            修订记录
        </div>
    </div>
</div>
<div class="container p-0"> 
    <!-- Context-menu -->
    <div id="html_ContextMenu" class="context-menu shadow">
        <ul class="p-0 m-0">
            <li class="context-item dropdown-item" html-action="add_subnode">新增下级模块</li>
            <li class="context-item dropdown-item" html-action="edit">编辑</li>
            <li class="context-item dropdown-item" html-action="move_up">上移</li>
            <li class="context-item dropdown-item" html-action="move_down">下移</li>
            <li class="context-item dropdown-item disabled" html-action="disable">禁用</li>
            <li><hr class="m-0 dropdown-divider"></li>
            <li class="context-item dropdown-item" html-action="up_level">上提一级</li>
            <li><hr class="m-0 dropdown-divider"></li>
            <li class="context-item dropdown-item" html-action="default_index">重新排序</li>
            <li class="context-item dropdown-item">移动到</li>
        </ul>
    </div>
    <input type="hidden" value="@Model.Module_id" id="txt_module_id" />
    <input type="hidden" value="" id="txt_module_name" />
    <input type="hidden" value="" id="txt_pid" />
</div>
<style>
    /* Context menu */
    .context-menu {
        display: none;
        position: absolute;
        border: 1px solid #9f9d9d;
        border-radius: 1px;
        width: 130px;
        background: white;
    }
    .context-menu ul {
        list-style: none;        
    }
    .context-menu ul li {
        
    }
</style>

<script>
    // disable right click and show custom context menu
    $("li.li-node").bind('contextmenu', function (e) {
        hide_context_menu();

        var html_id = $(this).attr("id");
        var id = $(this).attr("attr-id");   //id;
        var pid = $(this).attr("attr-pid"); // pid
        var module_name = $(this).attr("attr-title");   // module name

        $("#txt_module_id").val(id);
        $('#txt_pid').val(pid);
        $('#txt_module_name').val(module_name);

        $("li.li-node").each(function () {
            $(this).removeClass("active");
        });
        $("#" + html_id).toggleClass("active");
        var top = e.pageY + 5;
        var left = e.pageX;
        // Show contextmenu
        $(".context-menu").toggle(100).css({
            top: top + "px",
            left: left + "px"
        });
        // disable default context menu
        return false;
    });
    $("li.context-item").click(function () {
        var module_id = $('#txt_module_id').val().trim();
        var pid = $('#txt_pid').val().trim();
        if (module_id == "") {
            return;
        }
        var action = $(this).attr("html-action");
        switch (action) {
            case "add_subnode":
                window.location = "/Modules/Create?pid=" + module_id;
                break
            case "edit":
                window.location = "/Modules/Edit?id=" + module_id;
                break;
            case "move_up":
                move(module_id, pid, "up");
                break;
            case "move_down":
                move(module_id, pid, "down");
                break;
            case "disable":
                break;
            case "default_index":
                var module_name = $('#txt_module_name').val();
                if (confirm("是否重置为默认顺序？[" + module_name + "]")) {
                    call_module_ajax(module_id, 9999, "default_index");
                }
                break;
            case "up_level":
                move(module_id, pid, "up_level");
                break;
        }
    });
    $(document).bind('contextmenu click', function () {
        hide_context_menu();
    });
    // disable context-menu from custom menu
    $('.context-menu').bind('contextmenu', function () {
        return false;
    });
    // Clicked context-menu item
    $('.context-menu li').click(function () {
        var className = $(this).find("span:nth-child(1)").attr("class");
        var titleid = $('#txt_module_id').val();
        $("#" + titleid).css("background-color", className);
        $(".context-menu").hide();
    });
    function hide_context_menu() {
        //$(".context-menu").hide();
        $('#html_ContextMenu').hide();
        $("#txt_module_id").val("");
        $('#txt_pid').val('');
    }
</script>
<script>
    var recordCount = @Model.DisplayIssues.Count;
    var toggler = document.getElementsByClassName("caret");

    for (var i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            $('#ul_' + $(this).attr('htmlId')).toggleClass("activeTreeNode");
            //this.parentElement.querySelector(".nested").classList.toggle("active");
            //this.classList.toggle("caret-down");
        });
    }

    $(document).ready(function () {
        $("#myUL li").click(function () {
            $("#myUL li").removeClass('active');
            $(this).addClass('active');
        });
        $("#mainTable tr").click(function () {
            $("#mainTable tr").removeClass('active');
            $(this).addClass('active');
        });
        $("img.add-button").click(function () {
            add_button_event($(this));
        });

        $('img.link-edit').click(function () {
            edit_issue($(this));
        });
        $('button.link-cancel').click(function () {
            cancel_edit($(this));
        });
    });


    // 绑定add button click
    function add_button_event(obj) {
        $('img.add-button').each(function () {
            $(this).toggleClass("d-none");
        });

        var html_id = obj.attr("attr-id");
        var row_index = $('#tr_' + html_id).index();

        var textarea_row_index = row_index + 2;
        var new_row = document.getElementById("mainTable").insertRow(textarea_row_index);
        var html = "";
        html += "<td class=\"align-middle text-center\">-</td>";
        html += "<td class=\"align-middle text-center\">🆔需求</td>";
        html += "<td colspan=\"3\" class=\"pt-1 pb-1\">";
        html += "   <textarea id=\"subject_" + textarea_row_index + "\" class=\"form-control w-100 border-bdbdbd fs-9 rounded-0\"></textarea>";
        html += "</td > ";
        html += "<td colspan=\"2\" class=\"ps-1 align-middle\">";
        html += "   <div class=\"btn-group w-75\">";
        html += "       <button class=\"form-control btn-5693af btn-sm m-0 fs-9\" onclick=\"create_issue(" + textarea_row_index + "," + html_id + ");\"><i class=\"bi bi-clipboard-check\"></i>Create</button>&nbsp;";
        html += "       <button id=\"cancel_btn_" + textarea_row_index + "\" class=\"form-control btn-normal btn-sm m-0 ps-1 fs-9\" onclick=\"cancel(" + textarea_row_index + ")\"><i class=\"bi bi-trash\"></i>Cancel</button>";
        html += "   </div>";
        html += "</td>";
        html += "<td class=\"align-middle text-center\"></td>";
        new_row.innerHTML = html;

        $('#subject_' + textarea_row_index).focus();
    }
    // 移动节点
    function move(obj_id, parent_id, action) {
        if (action == "up") {
            var obj = $('#html_node_' + obj_id);
            if (obj.index() > 0) {
                call_module_ajax(obj_id, parent_id, action);
                obj.insertBefore(obj.prev('.li-node'));
            }
        } else if (action == "down") {
            var obj = $('#html_node_' + obj_id);
            if (obj.index() < obj.siblings().length) {
                call_module_ajax(obj_id, parent_id, action);
                obj.insertAfter(obj.next('.li-node'));
            }
        } else if (active == "up_level") {
            var obj = $('#html_node_' + obj_id);
            if (obj.index() < obj.siblings().length) {
                call_module_ajax(obj_id, parent_id, action);
                //obj.insertAfter(obj.next('.li-node'));
            }
        }
    }
    function call_module_ajax(obj_id, parent_id, action) {
        var request = $.ajax({
            url: '/api/Module',
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: '{\"id\": ' + obj_id + ',\"parent_id\":' + parent_id + ',\"action\": \"' + action + '\"}'
        });
        //request.done(function (msg) {
        //    alert(msg);
        //});
        request.fail(function (jqXHR, textStatus) {
            switch (jqXHR.responseText) {
                case "OK":

                    break;
                default:
                    alert("Request failed: " + jqXHR.responseText);
                    break;
            }
        });
    }
    function cancel(textarea_row_index) {
        var cancel_btn = $('#cancel_btn_' + textarea_row_index);
        cancel_btn.parent().parent().parent().remove();
        $('img.add-button').each(function () {
            $(this).toggleClass("d-none");
        });
    }
    function onEdit() {
        $('img.link-edit').each(function () {
            $(this).toggleClass("d-none");
        });
    }
    function offEdit() {
        $('img.link-edit').each(function () {
            $(this).toggleClass("d-none");
        });
    }
    function cancel_edit(obj) {
        var id = obj.attr("attr-id");
        $('#linkLabel_' + id).toggleClass("d-none");
        $('#linkDiv_' + id).toggleClass("d-none");
        onEdit();
    }
    function edit_issue(obj) {
        offEdit();
        var id = obj.attr("attr-id");
        $('#linkLabel_' + id).toggleClass("d-none");
        $('#linkDiv_' + id).toggleClass("d-none");
        $('#linkSubject_' + id).focus();
    }
    function new_issue() {
        var newSubjectContent = $('#subject_9999').val().trim();
        if (newSubjectContent == "") {
            $('#subject_9999').focus();
            return;
        }
        $.ajax({
            url: '/api/Issue',
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: '{\"id\": 0,\"subject\": \"' + newSubjectContent + '\",\"CategoryId\":@Model.Module_id,\"authorId\":@cua.Id,\"priorityId\":0}',
            success: function (data) {
                window.location.reload();
            },
            fail: function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            }
        });

    }
    function create_issue(content_id, prev_row_id) {
        var newSubjectContent = $('#subject_' + content_id).val().trim();
        if (newSubjectContent == "") {
            $('#subject_' + content_id).focus();
            return;
        }
        $.ajax({
            url: '/api/Issue',
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: '{\"id\": 0,\"subject\": \"' + newSubjectContent + '\",\"CategoryId\":@Model.Module_id,\"authorId\":@cua.Id,\"priorityId\":' + prev_row_id + '}',
            success: function (data) {
                cancel(content_id);
                //window.location.reload();
                var obj = jQuery.parseJSON(data.value);

                var new_row = document.getElementById("mainTable").insertRow(content_id);

                var html = "";
                html += "<td htmlValue=\"issue\" class=\"fs-7 align-top text-center\" style=\"padding-top:1px;\">";
                html += "    <a asp-page=\"./Details\" asp-route-id=\"" + obj.Id + "\" target=\"_blank\" class=\"text-666\">" + obj.Id + "</a>";
                html += "</td>";
                html += "<td htmlValue=\"issue\" class=\"text-center\">" + obj.Tracker.Name + "</td>";
                html += "<td id=\"td_" + obj.Id + "\" class=\"link-td\" htmlValue=\"issue\" attr-id=\"" + obj.Id + "\">";
                html += "   <a id=\"linkLabel_" + obj.Id + "\" href=\"#op\" class=\"link-title text-666 fs-7\">";
                html += "	    <span id=\"showLabel_" + obj.Id + "\">" + obj.Subject + "</span>";
                html += "	    <img src=\"/images/xp/edit.png\" id=\"linkEdit_" + obj.Id + "\" attr-id=\"" + obj.Id + "\" class=\"link-edit float-end\" style=\"cursor:pointer\" onclick=\"edit_issue($(this));\" />";
                html += "    </a>";
                html += "   <div id=\"linkDiv_" + obj.Id + "\" class=\"d-none\">";
                html += "	<textarea id=\"linkSubject_" + obj.Id + "\" class=\"link-subject form-control w-100 fs-9 p-0 rounded-0 border-998888\">" + obj.Subject + "</textarea>";
                html += "	<div class=\"btn-group pt-1 float-end\">";
                html += "	    <button id=\"linkSave_" + obj.Id + "\" class=\"form-control link-save btn-5693af btn-sm ms-0 fs-9 save-subject w-auto mr-1\" attr-id=\"" + obj.Id + "\" onclick=\"save(" + obj.Id + ");\">save</button>";
                html += "	    <button id=\"linkCancel_" + obj.Id + "\" class=\"form-control link-cancel btn-normal btn-sm ms-0 fs-9 save-subject w-auto d-inline\" attr-id=\"" + obj.Id + "\" onclick=\"cancel_edit($(this));\">cancel</button>";
                html += "	</div>";
                html += "    </div>";
                html += "</td>";
                html += "<td htmlValue=\"issue\" class=\"text-center\">" + obj.Author.Firstname + "</td>";
                html += "<td htmlValue=\"issue\" class=\"text-center\">";
                html += "    <div class=\"btn-group m-0 p-0\">";
                html += "	<a class=\"btn btn-sm text-666 m-0 p-0 fs-7 lh-0 issue_subject_" + obj.StatusId + "\" data-bs-toggle=\"dropdown\">" + obj.Status.Name + "</a>";
                html += "	<ul class=\"dropdown-menu shadow fs-7\">";
                html += "	    <li><a class=\"dropdown-item disabled lh-0 text-dark\" href=\"#\">更改[" + obj.Id + "]为:</a></li>";
                html += "	    <li><hr class=\"dropdown-divider\"></li>";
                html += "	    <li><a class=\"dropdown-item\" href=\"#\">新建</a></li>";
                html += "	    <li><hr class=\"dropdown-divider\"></li>";
                html += "	    <li><a class=\"dropdown-item\" href=\"#\">Copy Text</a></li>";
                html += "	</ul>";
                html += "    </div>";
                html += "</td>";
                html += "<td htmlValue=\"issue\" class=\"text-center\">" + obj.Project.Name + "</td>";
                html += "<td htmlValue=\"issue\" class=\"text-center\" title=\"该" + obj.Tracker.Name + " 创建于&nbsp;" + obj.CreatedOn + "\">";
                html += "    <a href=\"#UpdateOn\" class=\"text-dark\">" + obj.Description + "</a>";
                /*html += "    <a href=\"#UpdateOn\" class=\"text-dark\">" + obj.UpdatedOn + "</a>";*/
                html += "</td>";
                html += "<td htmlValue=\"issue\" class=\"align-middle text-center\">";

                html += "	<img class=\"add-button\" attr-id=\"" + obj.Id + "\" src=\"/images/xp/file_add.png\" style=\"cursor:pointer\" onclick=\"add_button_event($(this));\"/>";
                html += "	<span class=\"d-none\">-</span>";
                html += "</td>";
                new_row.innerHTML = html;

                recordCount++;
                $('#showRecordCount').text(recordCount);
            },
            fail: function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            }
        });
    }
    // 保存、更新
    function save(html_id) {
        var newSubjectContent = $('#linkSubject_' + html_id).val().trim();
        if (newSubjectContent == "") {
            $('#linkSubject_' + html_id).focus();
            return;
        }
        $.ajax({
            url: '/api/Issue',
            method: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: '{\"id\": ' + html_id + ',\"subject\": \"' + newSubjectContent + '\"}',
            success: function (data) {
                $('#showLabel_' + html_id).text(newSubjectContent);
                $('#linkCancel_' + html_id).trigger("click");
            },
            fail: function (jqXHR, textStatus) {
                alert("Request failed: " + textStatus);
            }
        });
    }
</script>