@page
@model RubyMine.Pages.Version.IndexModel
@using Abp.Linq.Expressions;
@{
}
<style>
    a.dropdown-toggle::after {
        display:none !important;
    }
    .dropdown-menu{
        min-width:80px !important;
    }
</style>
<link rel="stylesheet" href="~/css/hightlight.css" />
<div class="container-fluid fs-7">
    <div class="row">
        <div class="col border-1 border-ccc mr-2">
            <div class="row">
                <div class="col fw-bold bg-title p-1 ps-2 fs-7">
                    版本
                </div>
            </div>
            <div class="row fs-7 pr-0 bgt">
                <div class="col p-1 border-0">
                    <table id="mainTable" class="table table-hover table-bordered lh-1 fs-7">
                        <thead>
                            <tr>
                                <th class="border-ccc text-666" width="80px">#</th>
                                <th class="border-ccc text-666">版本号</th>
                                <th class="border-ccc text-666">发布日期</th>
                                <th class="border-ccc text-666">状态</th>
                                <th class="border-ccc text-666">版本描述</th>
                                <th class="border-ccc text-666">创建于</th>
                                <th class="border-ccc text-666">公司项目</th>
                                <th class="border-ccc text-666">是否共享</th>
                                <th class="border-ccc text-666 text-center"><i class="bi bi-pencil-fill"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model.Version) {
                                    var htmlClass = "";
                                    var htmlIcon = "";
                                    var showEffectiveDate = "未知";
                                    var issue_Status = @RMUtils.ParseVersionStatus(item.Status);
                                    switch (item.Status) {
                                        case "open":
                                            htmlClass = "text-269";
                                            var day = DateTime.Now - item.EffectiveDate;
                                            if (item.EffectiveDate != null && day.Value.Days > 0) {
                                                htmlClass = "text-danger";
                                                htmlIcon = "bi bi-exclamation-triangle-fill";
                                                issue_Status = "延期" + day.Value.Days + "天";
                                            } else {
                                                htmlIcon = "bi bi-cursor";
                                            }
                                            break;
                                        case "locked":
                                            htmlClass = "text-666";
                                            htmlIcon = "bi-lock";
                                            break;
                                    }

                                    if (item.EffectiveDate != null) {
                                        showEffectiveDate = RMUtils.ParseDate(item.EffectiveDate);
                                    }
                                    <tr class="@htmlClass">
                                        <td><a asp-page="New" asp-route-id="@item.Id" asp-route-action="view" class="text-269 @htmlClass">@item.Id</a></td>
                                        <td>
                                            <i class="@htmlIcon ms-auto"></i>&nbsp;<a asp-page="New" asp-route-id="@item.Id" asp-route-action="view" class="text-269 @htmlClass">@item.Name</a>
                                        </td>
                                        <td><a asp-page="New" asp-route-id="@item.Id" asp-route-action="view" class="text-269 @htmlClass">@showEffectiveDate</a></td>
                                        <td>
                                            @if (item.Status.Equals("open")) {
                                                <div class="dropdown">
                                                    <a href="#Temp" class="dropdown-toggle @htmlClass" id="subMenu-@item.Id" data-bs-toggle="dropdown" aria-expanded="false">
                                                        @issue_Status
                                                    </a>
                                                    <ul class="dropdown-menu shadow p-0" aria-labelledby="subMenu-@item.Id" style="width:96px;">
                                                        <li><button class="dropdown-item p-2 fs-7 fw-bold" type="button">#&nbsp;@item.Id</button></li>
                                                        <li><hr class="dropdown-divider m-0"></li>
                                                        <li><button class="dropdown-item p-2 fs-7" type="button">已发布</button></li>
                                                    </ul>
                                                </div>
                                            } else {
                                                <i class="bi bi-lock ms-auto"></i>@RMUtils.ParseVersionStatus(item.Status)
                                            }
                                        </td>
                                        <td>@item.Description</td>
                                        <td>@RMUtils.ParseDate(item.CreatedOn, true)</td>
                                        <td>
                                            <div class="dropdown">
                                                <a asp-page="/Project/Index" asp-route-id="@item.ProjectId" class="dropdown-toggle text-269" id="btn-@item.Id" data-bs-toggle="dropdown" aria-expanded="false">@item.Project.Name</a>
                                                <ul class="dropdown-menu shadow" aria-labelledby="btn-@item.Id" style="width:123px;">
                                                    <li><a asp-page="/Products/Index" asp-route-id="@item.Id" class="dropdown-item ps-2 text-269 fs-7"><i class="bi bi-reply-fill"></i>&nbsp;&nbsp;转到该项目</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>@RMUtils.ParseVersionSharing(item.Sharing)</td>
                                        <td class="text-center">
                                            <div class="dropdown">
                                                <a href="#Temp" class="dropdown-toggle text-269" id="btn-@item.Id" data-bs-toggle="dropdown" aria-expanded="false">
                                                    编辑
                                                </a>
                                                <ul class="dropdown-menu shadow" aria-labelledby="btn-@item.Id" style="width:96px;">
                                                    <li><a asp-page="New" asp-route-id="@item.Id" class="dropdown-item pt-2 pb-2 text-269 fs-7"><i class="bi bi-pencil-fill"></i>&nbsp;编辑</a></li>
                                                    <li><a asp-page="Delete" asp-route-id="@item.Id" class="dropdown-item pt-2 pb-2 text-269 fs-7"><i class="bi bi-x-lg"></i>&nbsp;删除</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <span class="text-269 ps-1 pb-3">共：@Model.Version.Count 条数据</span>
                </div>
            </div>
        </div>
        <div class="col-3 border-1 border-ccc">
            <div class="container p-0">
                <div class="row bg-title border-bottom border-ccc">
                    <div class="col ps-2 pt-1 pb-1">
                        <span class="fs-7 fw-bold">过滤</span>&nbsp;<a asp-page="New" class="float-end fs-7 text-269"><i class="bi bi-plus-lg fs-7"></i>&nbsp;新增</></a>
                    </div>
                </div><form id="frmVersion" method="get">
                    <div class="row">
                        <div class="col p-2">
                            <table class="fs-7">
                                <tr>
                                    <td>公司项目</td>
                                    <td>
                                        <select class="form-select p-1 pr-5 fs-7 mb-1 w-auto" aria-label="" asp-for="project_id" onchange="$('#frmVersion').submit();">
                                            <option value="">全部</option>
                                            @foreach (RubyMine.Models.Project item in Model.Project) {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>状态</td>
                                    <td>
                                        <select class="form-select p-1 pr-5 fs-7 mb-1 w-auto" aria-label="" asp-for="status" onchange="$('#frmVersion').submit();">
                                            <option value="">全部</option>
                                            <option value="open">开发中</option>
                                            <option value="locked">已发布</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="60px">版本号</td>
                                    <td><input type="text" class="form-control p-1 fs-7 mb-1" aria-label="" placeholder="Ctrl+F"></td>
                                </tr>
                                <tr>
                                    <td width="60px">数量</td>
                                    <td><label class="form-control p-1 fs-7 border-0">@Model.Version.Count</label></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="~/js/highlight.js"></script>