@page
@model RubyMine.Pages.Issues.NewModel
@using RubyMine.Models;
@using RubyMine.CustomModels;


@{
    //Layout = null;
}
<style>
    .line-height-row {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .w-30 {
        width: 30% !important;
    }

    .w-35 {
        width: 35% !important;
    }
</style>
<form id="newForm" method="post">
    <div class="container-fluid fs-7">
        <div class="row ps-0 border-1 border-ccc">
            <div class="col">
                <div class="row border-bottom-1 border-ccc">
                    <div class="col bg-title p-1 ps-2 fw-bold fs-7">
                        <span>新建问题</span>
                        <div class="float-end pr-2">
                            <a href="#Temp" class="btn-sm p-0 fs-7 text-269" onclick="$('#newForm').submit();">保存</a>&nbsp;
                            <a asp-page="/Requirements/Index" class="p-0 fs-7 text-269">取消</a>
                        </div>
                    </div>
                </div>
                <div class="row p-3 pt-1 border-top border-ccc" style="background:#fcfcfc">
                    <div class="col">
                        <table width="100%" class="mt-1 mr-1">
                            <tr>
                                <td width="76px" class="p-0 text-right">
                                    <label for="inputPassword" class="col-form-label form-control-sm fw-bold fs-7">主题&nbsp;<span class="text-danger fw-bold">*</span></label>
                                </td>
                                <td class="line-height-row">
                                    <input type="text" class="form-control form-control-sm fs-7 text-666" id="issue_Subject" value="@Model.Tracker_id" autocomplete="off" required>
                                </td>
                            </tr>
                            <tr>
                                <td width="76px" class="p-0 text-right">
                                    <label for="inputPassword" class="col-form-label form-control-sm fw-bold fs-7">状态&nbsp;<span class="text-danger fw-bold">*</span></label>
                                </td>
                                <td class="line-height-row">
                                    @Html.DropDownList("issue_IssueStatus", new SelectList(Model.DB_IssueStatus, "Id", "Name"), new { @class = "form-select m-0 w-auto p-1 text-666 fs-7" })
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col">
                        <table class="w-100">
                            @{
                                foreach (CustomField customField in Model.CustomField.Where(t=>string.IsNullOrEmpty(t.Description))) {
                                    <tr id="tr_@customField.Id">
                                        <td width="76px" class="p-0 text-right" valign="top">
                                            <label for="inputPassword" class="col-form-label form-control-sm fw-bold fs-7">@customField.Name@Html.Raw(RMUtils.Html_IsRequired(customField.IsRequired))</label>
                                        </td>
                                        <td class="line-height-row">
                                            @switch (customField.FieldFormat) {
                                                case "user":
                                                case "version":
                                                case "list":
                                                    @:<!--@Html.Raw(customField.Name)-->
                                                    <div id="cfMenu_@customField.Id" class="dropdown">
                                                        <div class="row">
                                                            <div class="col">
                                                                <button id="cf_@customField.Id" cf_Type="@customField.FieldFormat" cf_Id="" cf_Text="" class="btn btn-light w-auto border-1 border-ccc bg-white btn-sm dropdown-toggle text-666 text-start fs-7" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="min-width:30%;">
                                                                    &nbsp;
                                                                </button>
                                                                <ul id="cfDropdown_@customField.Id" class="dropdown-menu w-auto shadow text-666" aria-labelledby="cf_@customField.Id" style="min-width:300px;max-height:400px;overflow-y:auto">
                                                                    <div class="row p-0 m-0 pt-0 p-1 pr-2 rounded-1 bg-title border-bottom">
                                                                        <div class="col">
                                                                            <input id="cfInput_@customField.Id" class="form-control m-0 pt-0 p-1 bg-white border-1 border-ccc rounded-1 fs-7" type="text" placeholder="筛选 @customField.Name" autocomplete="off" />
                                                                        </div>
                                                                        @{
                                                                            if (customField.Multiple.Value == false) {
                                                                                <div class="col-1 text-start">
                                                                                    <a id="cfTrash_@customField.Id" href="#clearContent" class="text-269" title="清空选择"><i class="bi bi-trash"></i></a>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    </div>
                                                                    @if (customField.FieldFormat.Equals("user")) {
                                                                        @foreach (var item in Model.DB_ProjectUser) {
                                                                            <li>
                                                                                <a class="dropdown-item text-decoration-none fs-7" htmlType="source_@customField.Id" href="#Temp" htmlId="@Html.Raw(item.Id)" htmlPinyin="@Html.Raw(item.pinyin)" htmlText="@Html.Raw(item.Firstname)">
                                                                                    <span style="float:left" class="text-666">@Html.Raw(item.Firstname)</span>&nbsp;
                                                                                    <span style="float:right;color:#8492a6;">@Html.Raw(item.pinyin)</span>
                                                                                </a>
                                                                            </li>
                                                                        }
                                                                    } else if (customField.FieldFormat.Equals("version")) { <!--版本-->
                                                                        @foreach (var item in Model.DB_Version) {
                                                                            <li>
                                                                                <a class="dropdown-item text-decoration-none fs-7" htmlType="source_@customField.Id" href="#Temp" htmlId="@Html.Raw(item.Id)" htmlPinyin="@Html.Raw(item.Name)" htmlText="@Html.Raw(item.Name)">
                                                                                    <span style="float:left" class="text-666">@Html.Raw(item.Name)</span>&nbsp;
                                                                                </a>
                                                                            </li>
                                                                        }
                                                                    } else if (customField.FieldFormat.Equals("list")) { <!--列表-->
                                                                        string[] possibleValues = customField.PossibleValues.Split('\n');
                                                                        int nIndex = 0;
                                                                        foreach (string possbleValue in possibleValues) {
                                                                            string temp_PossbleValue = possbleValue.Trim('-').Trim(' ');
                                                                            if (string.IsNullOrEmpty(temp_PossbleValue)) continue;
                                                                            <li>
                                                                                <a class="dropdown-item text-decoration-none fs-7" htmlType="source_@customField.Id" href="#Temp" htmlId="@Html.Raw(nIndex++)" htmlPinyin="" htmlText="@temp_PossbleValue">
                                                                                    <span style="float:left" class="text-666">@temp_PossbleValue</span>&nbsp;
                                                                                </a>
                                                                            </li>
                                                                        }
                                                                    }
                                                                </ul>

                                                            </div>
                                                            @*@if (customField.Multiple.Value == true) {
                                            <div class="col-1">
                                                <div class="col-1 p-0 pt-1">
                                                    <i id="btnClear_cf_@customField.Id" htmlType="btnClear" class="bi bi-trash" style="cursor:pointer" onclick="$('#cf_Multiple_@customField.Id').empty();"></i>
                                                </div>
                                            </div>
                                        }*@
                                                            @if (customField.Multiple.Value == true) {
                                                                <div id="cf_Multiple_@customField.Id" class="container">
                                                                    @*<span class="badge m-0 p-1 bg-eee text-dark fw-normal" htmlId="" htmlText="">Primary</span>*@
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    break;
                                                case "date":
                                                    <input class="form-control m-0 w-auto p-1 text-666 fs-7" type="date" asp-for="CurrentDateTime" value="@DateTime.Now.ToString(" yyyy-MM-dd")" />
                                                    break;
                                                case "bool":
                                                    <div class="form-check form-switch">
                                                        <input id="cf_@customField.Id" class="form-check-input" type="checkbox" @RMUtils.Html_Checked(customField.DefaultValue)>
                                                        <label class="form-check-label" for="cf_@customField.Id">是</label>
                                                    </div>
                                                    break;
                                                case "text":
                                                    <textarea class="form-control w-auto text-666 fs-7" id="cf_@customField.Id" rows="1" autocomplete="off"></textarea>
                                                    break;
                                                default:
                                                    <div class="m-0">
                                                        <input id="cf_@customField.Id" type="email" class="form-control w-auto text-666 fs-7">
                                                    </div>
                                                    break;

                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
                <div class="row">
                    <table>
                        <tr>
                            <td width="76px" class="p-0 text-right" valign="top">
                                <label for="inputPassword" class="col-form-label form-control-sm fw-bold fs-7">描述</label>
                            </td>
                            <td>
                                <textarea class="form-control fs-7 text-666" id="exampleFormControlTextarea1" rows="3" autocomplete="off"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <label for="inputPassword" class="col-form-label form-control-sm fs-7">附件<br /><i class="bi bi-arrow-up-right-square fs-6"></i></label>
                            </td>
                            <td>
                                <table class="table table-sm table-hover w-100 table-bordered fs-7 rounded-3">
                                    <tbody>
                                        <tr>
                                            <td>Otto</td>
                                        </tr>
                                        <tr>
                                            <td>Thornton</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Larry the Bird</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="margin-bottom:30px">
                    &nbsp;
                </div>
        </div>
    </div>
</form>
@Model.Project_id

<script>
        var m_ProjectTracker = @Html.Raw(Model.ProjectTracker);
        var m_ProjectCustomField = @Html.Raw(Model.CustomFieldProject);
        var m_TrackerCustomField = @Html.Raw(Model.CustomFieldTracker);

                                                  // 动态调整界面控件
        function changeHtmlControl(project_id, tracker_id) {
            $('#issue_Subject').val(project_id + "_" + tracker_id);
            setSubjectFocus();
        }
        function setSubjectFocus() {
            $('#issue_Subject').focus();
        }
</script>
<script>
        $(document).ready(function () {
            @{foreach (CustomField customField in Model.CustomField) {
                switch (customField.FieldFormat) {
                    case "user":
                    case "version":
                    case "list":
                        // 检索+过滤
                        @: // =================================cf_@customField.Id, @Html.Raw(customField.Name), @customField.FieldFormat================================
                        @: // 检索
                        @:$("#cfInput_@customField.Id").on("keyup", function () {
                        @:    var value = $(this).val().toLowerCase();
                        @*@:    $(".dropdown-menu li").filter(function () {*@
                        @:    $("a[htmlType='source_@customField.Id']").filter(function () {
                        @:        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                        @:    });
                        @:});
                        @: // 选择
                        @:$('#cfDropdown_@customField.Id .dropdown-item').on("click", function () {
                        @:    var obj = $(this);
                        @:    var cf_Id = obj[0].attributes["htmlId"].nodeValue;
                        @:    var cf_Text = obj[0].attributes["htmlText"].nodeValue;
                        @:    $('#cf_@customField.Id').text(cf_Text);               // 显示值
                        @:    $('#cf_@customField.Id').attr('cf_Id', cf_Id);       // to_db，提交数据库时，以cf_Id，cf_Text为准。
                        @:    $('#cf_@customField.Id').attr('cf_Text', cf_Text);   // tb_db
                        @:    $("#cfInput_@customField.Id").val('');
                        @:    $("a[htmlType='source_@customField.Id']").filter(function () {
                        @:        $(this).show();
                        @:    });
                        if (customField.Multiple.Value == true) {
                        @:    var span = "<button id='cf_span_" + cf_Id + "' class='btn badge m-0 mr-2 border-1 border-ccc p-1 bg-eee text-dark fw-normal' cf_Id='" + cf_Id + "' cf_Text='" + cf_Text + "' onclick='$(this).remove();'>" + cf_Text + "&nbsp;<i class=\"bi bi-x-circle\"></i></button>";
                        @:    if ($('#cf_Multiple_@customField.Id').children('#cf_span_' + cf_Id).length <=0) {
                        @:        $('#cf_Multiple_@customField.Id').prepend(span);
                        @:    }
                        @:    $('#cf_@customField.Id').text('');
                            }
                        @:});
                        @: // 展开时设置焦点
                        @:var sourceMenu_@customField.Id = document.getElementById('cfMenu_@customField.Id');
                        @:(sourceMenu_@customField.Id).addEventListener('shown.bs.dropdown',function(){
                        @:      $("#cfInput_@customField.Id").focus();
                        @:});
                        @: // 清空按钮
                        @:$('#cfTrash_@customField.Id').on("click", function () {
                        @:      $('#cf_@customField.Id').text('');
                        @:      // $('#cf_Multiple_@customField.Id').empty();
                        @:});
                        @:
                        break;
                    }
                }
            }
        });
</script>
