@page
@model RubyMine.Pages.Products.IndexModel
@using RubyMine.Models;
@{
}

<body>
    <div class="container-fluid fs-7">
        <div class="row ps-0">
            <div class="col border-1 border-ccc">
                <div class="row">
                    <div class="col bg-title p-1 ps-2 fs-7">
                        项目列表
                    </div>
                </div>
                <div class="row border-top-0 p-1 ps-1">
                    <div class="accordion m-0 p-0" id="accordion-main">
                        <table class="table border border-ccc w-100">
                            @{
                                foreach (Project item in Model.Product) {
                                    var user_id = Model.Member.Where(t => t.ProjectId == item.Id).Select(t => t.UserId).Distinct();
                                    <tr id="tr-@item.Id" class="bg-light" onclick="$('#content-@item.Id').toggle();">
                                        <td>
                                        <i class="bi bi-chevron-right"></i>&nbsp;@item.Name&nbsp;<span class="badge fw-normal bg-dark">@user_id.Count()</span>
                                            <span class="float-end">@item.Description</span>
                                        </td>
                                    </tr>
                                    <tr id="content-@item.Id">
                                        <td class="ps-1">
                                            <table class="table table-bordered table-hover">
                                                @{
                                                    foreach (User user in Model.Project.Where(t => user_id.Contains(t.Id))) {
                                                        <tr>
                                                            <td>@user.Id</td>
                                                            <td>@user.Firstname</td>
                                                            <td>@user.pinyin</td>
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
                <div class="col-3"></div>
        </div>
</body>
