@page
@model RubyMine.Pages.Modules.DetailsModel

@{
    Layout = "~/Pages/Shared/_NavicatLayout.cshtml";
}
<div>
    <h4>Module</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Module.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Module.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Module.Index)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Module.Index)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Module.PId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Module.PId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Module.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>